.header {
    color: white;
    display: flex;
    align-items: center;
    font-family: Permanent Marker, serif;
}

.header .item {
    padding: 0 20px;
    cursor: pointer;
}

@keyframes big {
    from {font-size: inherit;}
    to {font-size: 1.3rem;}
}

@keyframes small {
    from {font-size: 1.3rem;}
    to {font-size: inherit;}
}

.header .item.active {
    color: #e91e63;
    font-size: 1.3rem;
    -o-transition:color .2s ease-out, background 1s ease-in;
    -ms-transition:color .2s ease-out, background 1s ease-in;
    -moz-transition:color .2s ease-out, background 1s ease-in;
    -webkit-transition:color .2s ease-out, background 1s ease-in;
    transition:color .9s ease-out, background 1s ease-in;
    animation: big 1s;
}

.header .item.fade {
    color: white;
    font-size: inherit;
    -o-transition:color .2s ease-out, background 1s ease-in;
    -ms-transition:color .2s ease-out, background 1s ease-in;
    -moz-transition:color .2s ease-out, background 1s ease-in;
    -webkit-transition:color .2s ease-out, background 1s ease-in;
    transition:color .9s ease-out, background 1s ease-in;
    animation: small 1s;
}

.header {
    height: 50px;
    width: 100%;
    background: #1B242F;
    border-bottom: 3px solid #04C2C9;
    text-align: left;
    z-index: 99;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%
}

.sticky + .content {
    padding-top: 102px;
}

@media only screen and (max-width: 480px) {
    .header {
        justify-content: space-between;
    }
}